# Copyright (c) Abstract Machines
# SPDX-License-Identifier: Apache-2.0

name: Continuous Integration

on:
  pull_request:
    branches:
      - master
  push:
    branches:
      - master

jobs:
  lint-and-build:
    name: Lint and Build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Go
        uses: actions/setup-go@v4
        with:
          go-version: 1.22.x
          cache-dependency-path: "go.sum"

      - name: Check linting
        uses: golangci/golangci-lint-action@v4
        with:
          version: v1.56.2

      - name: Build Binaries
        run: |
          make all -j $(nproc)
